.App {
  font-family: sans-serif;
}

.App>h1 {
  font-size: 22px;
  background-color: #188cd8;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  letter-spacing: 3px;
}

.App>div>h2 {
  font-size: 18px;
  display: Flex;
  justify-content: space-between;
  text-decoration: none;
}

.App>div>h3 {
  border-top: 1px solid #e1e1e1;
  padding-top: 10px;
  display: flex;
  justify-content: end;
}

.product {
  display: Flex;
  padding: 10px;
  margin: 0 0 10px 0;
  border: 1px solid #e1e1e1;

}

.product img {
  width: 130px;
  margin: 0 10px 0 0;
}

.product button {
  border: none;
  background-color: #188cd8;
  color: #fff;
  padding: 3px 6px;
  border-radius: 5px;
}

.product button:hover {
  background-color: #090a0b;
}

.link {
  color: #188cd8;
  text-decoration: none;
}

/* Removed empty ruleset */
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */